body{
    font-family: 'Quicksand', sans-serif;
   
  }
  *{
    margin:0;
    padding:0

  }
 h1{
    color: antiquewhite;
 }
 img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    z-index: -1;
  }
  .card{
    width:300px;
    height:auto;
    background:rgba(0, 0, 0, 0.5);
    padding:30px;
    box-sizing:border-box;
    text-align:center;
    border-radius:20px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    overflow:hidden;
  }
  .card img{
    width:100px;
    height:100px;
    display:block;
    margin:auto;
    border-radius:50%;
  }
  .card div p{
    color: wheat;
  }
  .card div h1{
    text-transform:uppercase;
    margin-top:20px;
    margin-bottom:20px;
    line-height:24px
    

  }
  .card div h1 span{
    font-size:14px;
    color: #f39c12;
  }
  .card div ul{
    list-style:none;
  }
  .card div ul li{
    display:inline-block;
    margin:20px 10px
  }
  .card div ul li a{
    color:white;
    font-size:20px;
    transition:0.2s;
  }
  .card div ul li a:hover{
    color: black;
  }
  .card div a.btn{
    text-decoration:none;
    color:#000;
    letter-spacing:5px;
    font-weight:bold;
    border:1px solid #000;
    font-weight:bold;
    padding:10px;
    border-radius:2px;
    margin-top:15px;
    display:inline-block;
    transition:0.2s;
  }
  .card div a.btn:hover{
    border-color:#f39c12
  }
 
